@{
   ViewData["Title"] = "Home page of "; ;
}

<div class="text-center">
   <h1 class="display-4">Welcome</h1>
   <h3> It's my first app and I only want to get 3 from Mgr. Filip Postępski</h3>

</div>
