@{
   ViewData["Title"] = "Privacy Policy of ";
}
<h1>@ViewData["Title"]</h1>

<p>Policy privacy:
<ol>
   <li>
      You can't steal this website because I said that
   </li>
   <li>
      I love .NET
   </li>
   <li>
      Just kidding with point 2
   </li>
</ol>