@model PrivacyViewModel
@{
   ViewData["Title"] = "Privacy Policy of ";
}
<h1>@ViewData["Title"]</h1>

<p>Policy privacy:
<ol>
      @foreach (var t in Model.PrivacyList)
      {
      <li>@t.PrivacyContent</li>
      }
</ol>